.nav{
    width:100%;
    height:10vh;
    position: relative;
    display:flex;
    color:black;
}
.recommend-nav{
    width:100%;
    height:10vh;
    position: relative;
    display:flex;
    color:black;
}
.bi-list{
    font-size:3rem;
    color:#5958B2;
    width:50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:5%;
}
.feature-name{
    width:50%;
    font-size: 148%;
    display: flex;
    align-items: center;
    padding-left:6%;
    font-family: 'Play', sans-serif;
}
.feature-recommend-name{
    width:50%;
    font-size: 148%;
    display: flex;
    align-items: center;
    padding-left:6%;
    font-family: 'Play', sans-serif;
    color:black;
}
.show{
    display:block;
}
.notshown{
    display:hidden;
}
