.category{
    width:90%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:auto;
    gap:2%;
}
.category-icon{
    background-color: #5958B2;
    max-width: 99%;
    min-height:80%;
    height:80px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    color:white;
    object-fit:cover;
}
.category-titles{
    display: flex;
    justify-content: center;
    margin-top:10%;
}
.category-section{
    margin:auto;
    margin-left:0;
    margin-right:0;
}

@media (min-width:820px){
    .category-icon{
        min-width: 60px;
        min-height:160px;
    }
}
.hidden{
    display:none;
}

