.featured-recipes{
    width:100%;
    height:fit-content;
}
.featured-images{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:90%;
    height:90%;
    margin:auto;
}
.featured-images img{
    width:90%;
    height:90%;
    background-color: black;
    margin:auto;
    border-radius: 15px;
    object-fit: cover;
}
.recommended{
    width:100%;
    height:fit-content;
    padding-bottom: 1rem;
}
.recommended-images{
    width:90%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
}
.recommended-images img{
    width:90%;
    height:100%;
    background-color: black;
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: cover;
}