.slider-img1 {
    display: flex;
    width: 90%;
    height: 17rem;
}
.search-recipes-container{
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: calc(100% - 10vh) !important;
}
.search-recipes-header{
    padding-top:4vh;
    background-color: #5958B2;
    width:100%;
    height:23rem;
}
.logo-container{
    margin:auto;
    width:25%;
    display: flex;
}
.logo-container img {
    width: 7rem;
    margin: auto;
}
.search-page-search-bar {
    display: flex;
    margin: auto;
    width: 29%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Play', sans-serif;
}
.slider{
    width:100%;
    height:fit-content;
    padding-top:3vh;
}
.slider-img1{
    display:flex;
    width: 73%;
    height:15rem;
    background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-size:cover;
    background-repeat: no-repeat;
    margin:auto;
    border-radius: 13px;
}
.slide-dots{
    width:fit-content;
    margin:auto;
    display:flex;
    flex-direction: row;
    margin-top:10px;
    column-gap: 5px;
}
.slide-dot{
    width:10px;
    height:10px;
    background-color: lightgrey;
    border-radius: 50%;
}
.currentslide{
    background-color: rgb(253, 186, 104);
}
.slide-title{
    color:white;
    margin-top:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:5%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    background-color: #0000005e;
}
.featured-recipe{
    margin:auto;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    padding:5%;
}
.recipe-description{
    color:black;
    margin: auto;
}
.desserts-feature{
    margin:auto;
    border-radius: 20px;
    width:90%;
    height: fit-content;
    background-color: rgb(245, 242, 95);
    display:grid;
    grid-template-columns: 60% 40%;
}
.desserts-feature-section{
    width:80%;
    margin:auto;
}
.desserts-feature-title{
    font-size:200%;
}
.desserts-feature-image{
    width:80%;
    height:80%;
    background-color: black;
    border-radius:10px;
    object-fit: cover;
}
.desserts-feature-image-section{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
@media (max-width:850px){
    .slider-img1 {
        height: 27vh;
    }
    .search-page-search-bar{
        display:flex;
        margin:auto;
        width:90%;
        height:7vh;
        border-radius: 10px;
        border:none;
        font-size:20px;
        text-align: left;
        padding-left:10px;
        font-family: 'Play', sans-serif;
    }
    .slider-img1{
        width:90%;
    }
    .desserts-feature{
        height:20vh;
    }
}
