@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.App {
  position:relative;
  height:auto;
  width:100%;
  margin:0;
  padding:0;
}
.header{
  background-color: white;
  width: 100%;
  height: auto; 
  display:grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
}
.logo{
  width:40%;
  text-align: left;
  margin-left:10%;
}
.header nav{
  text-align: right;
  margin-right:10%;
}
.bi-list{
  font-size:60px;
  color: rgb(27,219,164);
}
.menu-expand{
  width:70%;
  height:100vh;
  background-color: rgb(88, 141, 88);
  overflow: hidden;
  position: absolute;
  text-align:right;
  right:0;
}
.section-1{
  height:100vh;
}
.search-bar{
  margin-bottom:3%;
  margin-top: 2%;
  text-align: center;
}
.search-bar input{
  width:30%;
  height:40px;
  border-radius: 10px;
  border:none;
  background-color:rgb(194, 190, 190);
}
.carousel-container{
  background-color: rgb(108, 108, 116);
  height:85%;
  margin-left:10%;
  margin-right:10%;
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
}
.carousel{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 10px;
  height: 100%;
  align-items: center;
}
.carousel p{
  margin:0;
}
.carousel-left{
  height:95%;
  width:100%;
  background-color:azure;
  border-radius:2px;
}
.carousel-middle{
  height:98%;
  width:100%;
  background-color:azure;
  border-radius:2px;
}
.carousel-right{
  height:95%;
  width:100%;
  background-color:azure;
  border-radius:2px;
}
.section-2{
  background-color: rgb(202, 120, 120);
  height:100vh;
}
.section-3{
  background-color: rgb(88, 141, 88);
  height:100vh;
}
@media (max-width:390px){
  .carousel-container{
    background-color: rgb(108, 108, 116);
    height:85%;
    margin-left:10%;
    margin-right:10%;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
  }
}